

// #CLOCK

.clock {
	overflow: visible !important;
}

	.clock__hand {
		fill: $red;
	}

	.clock__line {
		stroke: $dark;
	}

	.clock__now {
		fill: $dark;
	}

	.clock__night {
		fill: $dark;

		&.clock__night--light {
			fill: $dark--light;
		}
	}

	.clock__day {
		fill: $light;

		&.clock__day--dark {
			fill: $light--dark;
		}
	}
